<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Dairy_Farming</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.dairy.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.dairy.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Customer</servlet-name>
    <servlet-class>com.dairy.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.dairy.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Result</servlet-name>
    <servlet-class>com.dairy.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result</servlet-name>
    <url-pattern>/ResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.dairy.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertImage</servlet-name>
    <servlet-class>com.dairy.InsertImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertImage</servlet-name>
    <url-pattern>/InsertImageServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>CustomerMilk</servlet-name>
    <servlet-class>com.dairy.CustomerMilkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerMilk</servlet-name>
    <url-pattern>/CustomerMilkServlet</url-pattern>
  </servlet-mapping>
</web-app>